<p id="notice"><%= notice %></p>

<p>
  <strong>Place:</strong>
  <%= @story.place_id %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @story.picture_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @story.user_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @story.description %>
</p>

<p>
  <strong>Vote plus:</strong>
  <%= @story.vote_plus %>
</p>

<p>
  <strong>Vote minus:</strong>
  <%= @story.vote_minus %>
</p>

<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %>
